header{
    display: flex;
    justify-content: space-between;
}

body{
    background-color: rgb(225, 239, 239);
    font-family: 'Times New Roman', Times, serif;
    
}

p{
    font-size: 23px;
}
.main{
    flex-direction: column;
    padding: 25px;
    text-Align: Center;
}
.start-button{
    Background-color: rgb(148, 181, 149);
    border: none;
    curser: pointer;
    font-size: large;
    color:rgb(0, 0, 0)
}